<html>
<head>
<title>Oooooo Django</title>
</head>
<body><div>
<h1>Hi there!</h1>
<h2>It works!</h2>
<p><em>Lorem ipsum dolor</em> sit amet, <strong>consectetur adipiscing</strong> elit. Praesent ac sagittis nisi, a molestie erat. Phasellus quis iaculis nunc, eu porttitor odio. Integer urna velit, commodo ac elit eu, scelerisque rhoncus enim. Curabitur ac nibh ex. Sed ac metus purus. Phasellus porttitor molestie lorem, nec auctor sem convallis vitae. Vestibulum felis nisi, sollicitudin sed est semper, tincidunt porta eros. Fusce sed cursus ex. Suspendisse lectus sem, sollicitudin ut consequat scelerisque, pharetra eu est. Vivamus metus velit, condimentum tristique fermentum in, elementum vel risus.
</p>
<br />
<a href="https://djangogirls.org">Django Girls Official Site</a>
</div>
<div>
<p>
Nullam sodales justo nec elit venenatis auctor. Maecenas vitae diam ac augue ultricies efficitur. Phasellus et lacinia neque. In neque mauris, cursus vel neque ut, sagittis pellentesque lorem. Integer convallis sagittis magna. Sed finibus purus sit amet ex accumsan tempor. In hac habitasse platea dictumst. Suspendisse nec lacinia neque, id euismod dui. Maecenas sit amet diam vel eros molestie porta. Etiam pretium arcu ut lacinia facilisis. Donec luctus ac dolor venenatis eleifend. Integer id ullamcorper ante.
</p>
</div>
</body>
</html>